:root {
    --vsc-dark-background: #1e1e1e;
    --vsc-dark-header-background: #3c3c3c;
}

textarea {
    background-color: var(--vsc-dark-background);
    border: 1rem solid var(--vsc-dark-header-background);
    border-radius: 0.5rem;
    color: white;
    font-family: Consolas, 'Courier New', monospace;
}