




/* 
    -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
    ATENÇÃO! O uso do CSS externo é PROIBIDO! TRANSCREVA para CSS inline! 

    https://templates.mailchimp.com/resources/inline-css/
    -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
*/

header {
    display: flex;
    border-bottom: 1px solid rgba(217, 217, 217);
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(247 247 247);
    padding: 0.5rem;
}

nav {
    display: inline;
}

nav > ul {
    list-style: none;
    color: #f60;
    display: inline;
    font-weight: bold;
}

nav ul li {
    display: inline-flex;
    justify-content: space-between;
    margin: 0 3rem;
    text-decoration: none;
}

nav ul li a {
    text-decoration: none;
    color: #f60;
}

/* header button {
    background-color: rgb(247, 152, 63);
    border: none;
    padding: 0.75rem 1.25rem;
    border-radius: 0.25rem;
    color: white;
    font-weight: bold;
    display: inline-block;
    cursor: pointer;
} */

footer {
    background-color: rgb(59, 59, 59); 
    color: white;
    padding: 0.125rem;
}

section.produtos-section {
    /* background-color: rgba(0, 0, 0, 0.171); */
    padding: 3rem;
    margin: 1rem 0;
    display: flex;
    /* justify-content: space-evenly; */
    justify-content: center;
    align-items: center;
}

h1, h3 {
    font-size: 1.25rem;
}

h2 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1rem;
}

figure.venda_produto {
    background-color: #00000041;
    border-radius: 0.5rem;
    padding: 1.5rem 1rem;
    width: 300px;
    display: flex;
    flex-wrap: wrap;
}

p.nome_produto {
    font-weight: bold;
    display: block;
    font-size: 1.25rem;
    margin: 0.5rem 0;
}

p.valor_produto {
    font-size: 1.25rem;
    font-weight: bold;
    color: darkgreen;
    margin: 1rem 0;
}

span.parcela_produto {
    font-size: 0.75rem;
    color: rgb(95, 95, 95);
}

button.button-comprar {
    padding: 0.75rem 5rem;
    background-color: darkgreen;
    border: 2px solid green;
    border-radius: 0.5rem;
    font-weight: bold;
    color: white;
    cursor: pointer;
    width: 80%;
    text-align: center;
}

figcaption {
    margin: 0.5em 0;
}

input#pesquisa-produto {
    width: 100%;
    height: 40px;
    border-radius: 0.5rem;
    background-color: rgb(255, 255, 255);
    font-size: 1rem;
    color: rgb(26, 26, 26);
    padding-inline: 36px;
    text-transform: lowercase;
    display: flex;
    border: 1px solid gray;
    background: #fff url(assets/icons/magnifying-glass-solid.svg) no-repeat 300px center;
    background-size: 16px;
}

section#carrinho {
    padding: 9rem;
}

input#quantidade {
    width: 30px;
    height: 30px;
    text-align: center;
}

input#carrinho-quantidade {
    width: 30px;
    height: 24px;
    text-align: center;
}

img.button-nav {
    cursor: pointer;
}

figure.carrinho-item {
    display: flex;
    width: 70%;
}


figcaption.carrinho-detalhamento {
    margin-inline: 2rem; 
}

button.carrinho-option {
    /* padding: 0.5rem; */
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    background-color: darkorange;
}

button.cancelar-produto {
    background-color: #8b0000c4;
    width: 23px;
    height: 22px;
    text-align: center;
    font-weight: normal;
    font-size: 0.85rem;
    padding: 0;
    border: none;
    border-radius: 4px;
    color: white;
    
}


button.retirar-produto {
    text-decoration: none;
    background-color: initial;
    border: none;
    color: orange;
    display: block;
    margin: 2rem 0;
    cursor: pointer;
}

article.total-compra {
    margin: 0.5rem;
    width: 30%;
}

article.total-compra > p {
    float: right;
    margin-left: 3rem;
    display: inline;
    align-items: center;
}


.valor-total-produto, .titulo-produto {
    display: inline;
}

.valor-total-produto {
    text-align: end;
    color: gray;
}


fieldset.frete, fieldset.pagamento {
    border: none;
    display: flex;
    flex-direction: column;

}


fieldset.fieldset-cupom {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

input.cupom {
    padding: 0.5rem 1rem;
    /* padding: 0.45rem 0.5rem; */
    display: block;
    margin: 0.5rem 0;
    width: 250px;
}

input.input {
    padding: 0.5rem 1rem;
}

/* input {
    padding: 0.5rem 1rem;
} */

span.item-obrigatorio {
    color: red;
}