.contraste {
	background-color: #000;
	color: #fff;
}
.contraste #s4-workspace .bg-pantone-289,
.contraste #s4-workspace .bg-pantone-1235,
.contraste #s4-workspace .bg-pantone-151 {
	background-color: #000;
}
.contraste #s4-workspace h1,
.contraste #s4-workspace h2,
.contraste #s4-workspace h3,
.contraste #s4-workspace h4,
.contraste #s4-workspace h5,
.contraste #s4-workspace h6,
.contraste #s4-workspace p,
.contraste #s4-workspace a,
.contraste #s4-workspace span,
.contraste #s4-workspace label,
.contraste #s4-workspace .color-pantone-289,
.contraste #s4-workspace .color-pantone-1235,
.contraste #s4-workspace .color-pantone-151,
.contraste #s4-workspace .color-blue {
	color: #fff !important;
}
.contraste #s4-workspace a {
	text-decoration: underline !important;
}
.contraste #s4-workspace a:hover,
.contraste #s4-workspace a:focus {
	color: #ff0 !important;
}
.contraste #s4-workspace a:hover h4,
.contraste #s4-workspace a:focus h4,
.contraste #s4-workspace a:hover p,
.contraste #s4-workspace a:focus p{
	color: #ff0 !important;
}
/*acessibilidade menu superior*/
.contraste #s4-workspace .main-bar #WebPartWPQ1 .ms-srch-sb-searchLink img {
	background-color:#fff;
}
.contraste #s4-workspace .nav-main-epe {
	background-color: #000;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
}
.contraste #s4-workspace .yamm #navbar-collapse-1 .dropdown {
	border-color: #fff;
}
.contraste #s4-workspace .yamm #navbar-collapse-1 .list-group-item {
	border-color:#fff;
	background-color: #000;
}
.contraste #s4-workspace .yamm #navbar-collapse-1 {
	background-color: #000;	
}
.contraste #s4-workspace .nav-main-epe .open>a{
	color: #ff0 !important;
}
.contraste #s4-workspace .nav-main-epe .dropdown-menu,
.contraste #s4-workspace .nav-main-epe .dropdown-menu .list-group a {
	border-color: #fff;
	background-color: #000;
}
.contraste #s4-workspace .nav-main-epe .navbar-default .navbar-nav > li > a:after {
	border-color: #fff;
}
/*acessibilidade menu superior*/

/*acessibilidade footer divisor*/
.contraste #s4-workspace .divisor {
	background-color: #000;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
}
.contraste #s4-workspace footer .box-footer .brasil-icon span {
	
	text-decoration: underline !important;
}
.contraste #s4-workspace footer .box-footer .brasil-icon:hover span,
.contraste #s4-workspace footer .box-footer .brasil-icon:focus span{
	color: #ff0 !important;
}

.contraste #s4-workspace footer .certificado {	
	color:#fff !important;
}
/*acessibilidade footer divisor*/

/*acessibilidade search box*/
.contraste #s4-workspace [data-name="SearchBox"] .ms-srch-sb-border,
.contraste #s4-workspace [data-name="SearchBox"] .ms-srch-sb-borderFocused {
	border-color: #fff;	
	background-color: #000;
	color: #000;
}
.contraste #s4-workspace [data-name="SearchBox"] .ms-srch-sb-borderFocused input {
	color: #fff;
}
/*acessibilidade search box*/
.contraste #s4-workspace .sprite-icon-facebook {
    width: 20px;
    height: 20px;
    background-position: -113px -30px;
}
.contraste #s4-workspace .sprite-icon-twitter {
    width: 20px;
    height: 20px;
    background-position: -142px -32px;
}
.contraste #s4-workspace .sprite-icon-youtube {
    width: 21px;
    height: 21px;
    background-position: -172px -30px;
}
.contraste #s4-workspace .sprite-icon-instagram {
    width: 21px;
    height: 21px;
    background-color:#fff;
}
.contraste #s4-workspace .sprite-icon-likedin {
    width: 21px;
    height: 21px;
    background-color:#fff;
}

/*menu lateral*/
.contraste #s4-workspace .menu-lateral li {
	border-color: #fff;
}
.contraste #s4-workspace .menu-lateral .active {
	color:#ff0 !important;
}
/*menu lateral*/

/*notícias*/
.contraste #s4-workspace .news a:hover h3.blue,
.contraste #s4-workspace .news a:focus h3.blue {
	color: #ff0 !important;
}
.contraste #s4-workspace .news .tag-area {
	border-color: #fff;
}
/*notícias*/
/*acesso a infomação inicial*/
.contraste #s4-workspace .thumbnail {
	background-color: #000;
}
.contraste #s4-workspace a:hover .thumbnail h3, 
.contraste #s4-workspace a:focus .thumbnail h3 {
	color: #ff0 !important;
} 
.contraste #s4-workspace .acesso-informacao .lista-paginas .sic {
	width:55px;
	height:55px;
	background-position: -317px -255px;
}
.contraste #s4-workspace .acesso-informacao .lista-paginas .dados {
	width:55px;
	height:64px;
	background-position: -204px -163px;
}
.contraste #s4-workspace .acesso-informacao .lista-paginas .convenios {
	width:55px;
	height:60px;
	background-position: -138px -163px;
}
.contraste #s4-workspace .acesso-informacao .lista-paginas .auditorias {
	width:55px;
	height:49px;
	background-position: -73px -168px;
}
.contraste #s4-workspace .acesso-informacao .lista-paginas .informacoes {
	width:55px;
	height:49px;
	background-position: -275px -168px;
}
.contraste #s4-workspace .acesso-informacao .lista-paginas .servidores {
	width:55px;
	height:49px;
	background-position: -160px -245px;
}
.contraste #s4-workspace .acesso-informacao .lista-paginas .participacao {
	width:55px;
	height:55px;
	background-position: -5px -239px;
}
.contraste #s4-workspace .acesso-informacao .lista-paginas .licitacoes {
	width:55px;
	height:64px;
	background-position: -422px -163px;
}
.contraste #s4-workspace .acesso-informacao .lista-paginas .acoes {
	width:55px;
	height:50px;
	background-position: -5px -167px;
}
.contraste #s4-workspace .acesso-informacao .lista-paginas .receitas {
	width:55px;
	height:57px;
	background-position: -83px -237px;
}
.contraste #s4-workspace .acesso-informacao .lista-paginas .institucional {
	width:55px;
	height:75px;
	background-position: -343px -158px;
}
/*acesso a infomação inicial*/ 
/*acesso a infomação - a-epe-no-setor-energetico-nacional*/ 
.contraste #s4-workspace  .container-links .square {
	background-color:#000;
	border-color:#fff;
}
/*acesso a infomação - a-epe-no-setor-energetico-nacional*/ 

.contraste #s4-workspace .table > thead > tr > th, 
.contraste #s4-workspace .table > tbody > tr > th,
.contraste #s4-workspace .table > tfoot > tr > th, 
.contraste #s4-workspace .table > thead > tr > td, 
.contraste #s4-workspace .table > tbody > tr > td,
.contraste #s4-workspace .table > tfoot > tr > td {
	border: 1px solid #fff !important;
}
.contraste #s4-workspace .table.table-despesas > thead > tr > td {
	border-top-color: #fff !important;
}
/*acesso a infomação - licitacoes-contratos/leiloes*/ 
.contraste #s4-workspace .licitacoes-contratos .bg-gray,
.contraste #s4-workspace .leiloes .bg-gray {
	background-color: #000;
	border: 1px solid #fff;
}
.contraste #s4-workspace .licitacoes-contratos .table thead tr td:nth-child(3),
.contraste #s4-workspace .licitacoes-contratos .table tbody tr td:nth-child(3),
.contraste #s4-workspace .leiloes .table thead tr td:nth-child(3),
.contraste #s4-workspace .leiloes .table tbody tr td:nth-child(3) {
	background-color: #000;
	color: #fff;
}
.contraste #s4-workspace .licitacoes-contratos .table thead tr,
.contraste #s4-workspace .leiloes .table thead tr {
	border-color: #fff !important;
}
.contraste #s4-workspace .leiloes.form-gray-select .table thead tr td,
.contraste #s4-workspace .leiloes.form-gray-select .table tbody tr td {
	background-color: #000;
}
/*acesso a infomação - licitacoes-contratos*/ 
.contraste #s4-workspace .form-control {
	color:#fff;
	background-color:#000 !important;
}
.contraste #s4-workspace .btn {
	background-color: #000 !important;
	border-color: #fff;
	color: #fff;
}
/*glossário*/
.contraste #s4-workspace .acesso-informacao.glossario .nav-tabs li {
	border-color: #fff;
}
.contraste #s4-workspace .nav-tabs > li.active > a, 
.contraste #s4-workspace .nav-tabs > li.active > a:hover, 
.contraste #s4-workspace .nav-tabs > li.active > a:focus {
	background-color: #000;
	color: #ff0 !important;
}
/*glossário*/

/*paginacao*/
.contraste #s4-workspace .pagination li a,
.contraste #Paging > li > a {
	background-color: #000 !important;
	border-color: #fff !important;
}
.contraste #s4-workspace .pagination li.active a,
.contraste #Result #PagingSelf a{
	color: #ff0 !important;
	text-decoration: underline !important;
}
.contraste #s4-workspace .pagination li.disabled a {
	color: #fff !important;
	text-decoration: none !important;
}
.contraste #s4-workspace .pagination li.disabled a:hover,
.contraste #s4-workspace .pagination li.disabled a:focus {
	background-color:#000;
}
/*paginacao*/
.contraste .ms-srch-sbLarge.ms-srch-sb-border input,
.contraste a.ms-srch-sb-searchLink{
	background-color: #000 !important;
}
#ResultCount {
	color: #fff !important;
}
/*home*/
.contraste .popover {
	color:#000 !important;
}
.contraste #s4-workspace #epe-home .home-tabs-areas .col-areas .nav-pills > li.active > a,
.contraste #s4-workspace #epe-home .home-tabs-areas .col-areas .nav-pills > li.active > a:hover,
.contraste #s4-workspace #epe-home .home-tabs-areas .col-areas .nav-pills > li.active > a:focus{
	color:#ff0 !important;
}

.contraste #s4-workspace #epe-home .home-noticias .row a:hover h3,
.contraste #s4-workspace #epe-home .home-noticias .row a:focus h3, 
.contraste #s4-workspace #epe-home .home-noticias .row a:hover p,
.contraste #s4-workspace #epe-home .home-noticias .row a:focus p,
.contraste #s4-workspace #epe-home .home-noticias .row a:hover span,
.contraste #s4-workspace #epe-home .home-noticias .row a:focus span {
	color: #ff0 !important;
	text-decoration: underline !important;
}
.contraste #s4-workspace #epe-home h2 {
	border-bottom-color: #fff;
}
/*home*/
/*noticias*/
.contraste #s4-workspace .form-gray-select .bg-gray {
	background-color: #000;
	border: 1px solid #fff;
}
.contraste #s4-workspace .form-gray-select .bg-gray label {
	color: #000;
}
/*noticias*/
/*barra superior do governo*/
body.contraste #barra-brasil .link-barra, body.contraste #barra-brasil .link-vlibras {
	color: #fff !important;
}
body.contraste #barra-brasil .link-barra:hover, body.contraste #barra-brasil a.link-vlibras:hover,
body.contraste #barra-brasil .link-barra:focus, body.contraste #barra-brasil a.link-vlibras:focus {
	color: #ff0 !important;
}
/*barra superior do governo*/
/*processo-de-contas-anuais*/
.contraste #s4-workspace .prestacao-contas td {
	background-color:#000;
	
}
.contraste #s4-workspace .prestacao-contas tbody td {
	color:#fff;
	text-decoration: underline;	
}
.contraste #s4-workspace .table-contas td {
	background-color:#000;
}
.contraste #s4-workspace .prestacao-contas tbody tr:hover,
.contraste #s4-workspace .prestacao-contas tbody tr:focus {
	
    text-decoration: underline;
}
.contraste #s4-workspace .prestacao-contas tbody tr:hover td,
.contraste #s4-workspace .prestacao-contas tbody tr:focus td {
	color: #ff0 !important;
}

/*processo-de-contas-anuais*/
/*table default*/
.contraste #s4-workspace .table-default td,
.contraste #s4-workspace .table-default th {
	background-color:#000;
	
}
.contraste #s4-workspace .table-default tbody td {
	color:#fff;
}
.contraste #s4-workspace .table-default td {
	background-color:#000;
}
/*table default*/
/*accordion de docs*/
.contraste #s4-workspace .accordion-epe .link-doc {
	text-decoration:underline;
}
.contraste #s4-workspace .accordion-epe .link-doc:hover,
.contraste #s4-workspace .accordion-epe .link-doc:focus {
	text-decoration:underline;
	color: #ff0 !important;
}
.contraste #s4-workspace .accordion-epe .panel-heading,
.contraste #s4-workspace .accordion-epe .panel-body {
	background-color:#000;
}
/*accordion de docs*/

/*Destaques*/
/*.contraste #s4-workspace #epe-home .home-destaques .item .titulo .line-text{
	background-color: rgba(0,0,0, 0.85) !important;

}*/
.contraste #s4-workspace #epe-home .home-destaques .item .titulo{
	background-color: rgba(0,0,0, 0.4) !important;

}

.contraste #s4-workspace #epe-home .home-destaques .item .conteudo{
	background-color: rgba(0,0,0, 0.85) !important;

}
/*Destaques*/
.contraste #s4-workspace .panel-default {
	background:#000;
}
/*Destaques*/

/*Fale conosco*/
.contraste #s4-workspace .fale-conosco .bg-form {
	background-color: #000;
}
/*Fale conosco*/
/*newsletter*/
.contraste #s4-workspace #home-newsletter .newsletter {
	background-image: url(/sites-pt/PublishingImages/bg-newsletter-contraste.jpg);
}
.contraste #s4-workspace #home-newsletter .newsletter .divisor-small {
	background-color:#fff;
}
.contraste #s4-workspace #home-newsletter .newsletter legend {
	color:#fff;
}
.contraste #s4-workspace #home-newsletter input.email {
	background-color: #000;
	border-color: #fff;
	color: #fff;
}
.contraste #s4-workspace .select2-selection {
	background: #000;
	color: #fff;
}
.contraste #s4-workspace .select2-selection__choice {
	background:#000;
}
.contraste .select2-dropdown {
	background: #000;
}
.contraste .select2-container .select2-results__option[aria-selected=true] {
	background: #333;
}
.contraste #s4-workspace #home-newsletter .letter {
	background-position: -18px -79px;
}
.contraste #s4-workspace #home-newsletter .btn {
	border: 1px solid #fff;
}
/*newsletter*/
/*diretores-e-superintendentes*/
.contraste #s4-workspace .diretores-superintendentes .diretores .container-person:hover .hover,
.contraste #s4-workspace .diretores-superintendentes .superintendentes .container-person:hover .hover,
.contraste #s4-workspace .diretores-superintendentes .diretores .container-person:focus .hover,
.contraste #s4-workspace .diretores-superintendentes .superintendentes .container-person:focus .hover {
	background-color: rgba(0,0,0, 0.5);
}
.contraste #s4-workspace .diretores-superintendentes .superintendentes .container-person .hover .container-text,
.contraste #s4-workspace .diretores-superintendentes .diretores .container-person .hover .container-text {
	background-color: rgba(0,0,0, 0.7);
}
.contraste #s4-workspace .diretores-superintendentes .diretores .container-person .hover a,
.contraste #s4-workspace .diretores-superintendentes .superintendentes .container-person .hover a {
	background-color: rgba(0,0,0, 0.9);
	text-decoration: none !important;
}
.contraste #s4-workspace .diretores-superintendentes .divisor-vertical {
	background-color: #fff;
}
/*diretores-e-superintendentes*/
/*acessibilidade modal EPE*/
.contraste #s4-workspace .modal-content {
	border: 1px solid #fff;
}
.contraste #s4-workspace .modal-header {
	background-color: #000;	
}
.contraste #s4-workspace .modal-body {
	background-color: #000;
}
.contraste #s4-workspace .modal .close {
	background-color: #000;
}
.contraste #s4-workspace .modal-header .close:hover span,
.contraste #s4-workspace .modal-header .close:focus span {
	color:#ff0 !important;
}

/*acessibilidade modal EPE*/

/*sitemap*/
.contraste #s4-workspace .sitemap .column a{
    text-decoration: underline!important;
    color: white!important;
}
.contraste #s4-workspace .sitemap .column a:hover{
    color: #ff0 !important;
    text-decoration:underline!important;
}
/*sitemap*/
/*Sala de imprensa*/
.contraste #s4-workspace .sala-imprensa h1,
.contraste #s4-workspace .sala-imprensa h2 {
	border-bottom-color: #fff;
}
.contraste #s4-workspace .sala-imprensa .navbar-header {
	background-color: #000;
}
.contraste #s4-workspace .sala-imprensa .nav-justified {
	background-color: #000;
}
.contraste #s4-workspace .sala-imprensa #arquivos .active[role="presentation"] h3 {
	color: #fff !important;
}
.contraste #s4-workspace .sala-imprensa #arquivos .file {
	background-color: #000;
    border: 1px solid #fff;
}
/*Sala de imprensa*/
/*Agenda*/
.contraste .fc-ltr .fc-basic-view .fc-day-top .fc-day-number {
	background-color: gray;
}
.contraste.popover-calendar {
	background-color: #000;
	color: #fff !important;
}
.contraste.popover-calendar .banner-content h5,
.contraste.popover-calendar .banner-content li span.hora,
.contraste.popover-calendar .banner-content li span.title {
	color: #fff;
}

/*Agenda*/
