/*
font-family: 'Open Sans', sans-serif;
font-family: 'Open Sans Condensed', sans-serif;
*/

#s4-workspace #MSOTlPn_MainTD *{
	font-family:"Segoe UI","Segoe",Tahoma,Helvetica,Arial,sans-serif;
	font-size:13px;
}
#s4-workspace #MSOTlPn_MainTD .ms-TPSectionTD{
	padding:10px 10px 0;
}
#pageStatusBar[class],
.ms-status-msg{
	margin-bottom:0;
}
#s4-workspace{
	font-family: 'Open Sans', sans-serif;
	font-size:16px;
	color:#000;
	overflow-y:auto;
	overflow-x:hidden;
}
#s4-workspace button{
	min-width:inherit;
}
#s4-workspace h1,
#s4-workspace .h1 {
	/*font-size: 22px;
	margin-bottom: 31px;
	font-family: 'Open Sans Condensed';
	font-weight: bold;*/
	font-family: "Open Sans", Arial, sans-serif;
	font-weight: bold;
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 20px;
}
#s4-workspace h2,
#s4-workspace .h2 {
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    font-family: "Open Sans", Arial, sans-serif;
	font-weight: bold; 
}
#s4-workspace h3,
#s4-workspace .h3 {
	font-size: 18px;
	font-family: "Open Sans", Arial, sans-serif;
	font-weight: bold;
}
#s4-workspace h4,
#s4-workspace .h4 {
	font-size: 18px;
}
#s4-workspace h5,
#s4-workspace .h5 {
	font-size: 14px;
	margin-bottom: 4px;

}
#s4-workspace ol li,#s4-workspace ul li{
	font-size: 0.875em;
}
#s4-workspace p {
	/*font-family: 'Georgia';
	font-size: 0.875em;
	margin-bottom: 20px;
	line-height: 20px;*/
	font-family: "Open Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 15px;
}
#s4-workspace p small,
#s4-workspace p .small {
	font-size: 88%;
}
#s4-workspace ul {
	font-family: 'Georgia';
}
#s4-workspace .font-bold {
	font-weight:bold;
}
#s4-workspace .bg-pantone-289 {
	background-color: #0c2340;
}
#s4-workspace .bg-pantone-1235 {
	background-color: #ffb81c;
}
#s4-workspace .bg-pantone-151 {
	background-color: #ff8200;
}
#s4-workspace .color-pantone-289 {
	color: #0c2340;
}
#s4-workspace .color-pantone-1235 {
	color: #dda642;
}
#s4-workspace .color-pantone-151 {
	color: #ff8200;
}
#s4-workspace .color-blue {
	color: #002659;
}
#s4-workspace .mt0{
	margin-top:0 !important;
}
#s4-workspace .mt5{
	margin-top:5px;
}
#s4-workspace .mt10{
	margin-top:10px;
}
#s4-workspace .mt15{
	margin-top:15px;
}
#s4-workspace .mt20{
	margin-top:20px;
}
#s4-workspace .mt25{
	margin-top:25px;
}
#s4-workspace .mt30{
	margin-top:30px;
}
#s4-workspace .mt35{
	margin-top:35px;
}
#s4-workspace .mt40 {
	margin-top: 40px;
}
#s4-workspace .mt50 {
	margin-top: 50px;
}
#s4-workspace .mt60 {
	margin-top: 60px;
}
#s4-workspace .mt70 {
	margin-top: 70px;
}
#s4-workspace .mt80 {
	margin-top: 80px;
}
#s4-workspace .mb0{
	margin-bottom:0 !important;
}
#s4-workspace .mb5{
	margin-bottom:5px;
}
#s4-workspace .mb10{
	margin-bottom:10px;
}
#s4-workspace .mb15{
	margin-bottom:15px;
}
#s4-workspace .mb20{
	margin-bottom:20px;
}
#s4-workspace .mb25{
	margin-bottom:25px;
}
#s4-workspace .mb30{
	margin-bottom:30px;
}
#s4-workspace .mb35{
	margin-bottom:35px;
}
#s4-workspace .mb40 {
	margin-bottom:40px;
}
#s4-workspace .mb50 {
	margin-bottom: 50px;
}
#s4-workspace .mb60 {
	margin-bottom: 60px;
}
#s4-workspace .ml0{
	margin-left:0;
}
#s4-workspace .ml5{
	margin-left:5px;
}
#s4-workspace .ml10{
	margin-left:10px;
}
#s4-workspace .ml15{
	margin-left:15px;
}
#s4-workspace .ml20{
	margin-left:20px;
}
#s4-workspace .ml25{
	margin-left:25px;
}
#s4-workspace .ml30{
	margin-left:30px;
}

#s4-workspace .mt-30 {
	margin-top: -30px;
}
#s4-workspace .no-padding{
	padding:0;
}
#s4-workspace .pl0 {
	padding-left: 0;
}
#s4-workspace .pl20 {
	padding-left: 20px;
}
#s4-workspace .georgia {
	font-family: 'Georgia';
}

#s4-workspace .fs16 {
	font-size: 16px;
}

#s4-workspace .list-unstyle {
	list-style-type: none; /* REMOVER - JÁ EXISTE NO BOOTSTRAP = list-unstyled */
}

#s4-workspace .btn img {
	height: 16px!important;
	width: 16px!important;
}
#s4-workspace .btn-more {
	background-color:#fff;
	color:#002659;
}

/* Sprite Images */

#s4-workspace .sprite {
    background-image: url('/Style Library/epe/img/spritesheet.png');
    background-repeat: no-repeat;
    display: block;
}
#s4-workspace .sprite-flags_br {
    width: 26px;
    height: 17px;
    background-position: -5px -5px;
}
#s4-workspace .sprite-flags_en {
    width: 26px;
    height: 17px;
    background-position: -41px -5px;
}
#s4-workspace .sprite-flags_es {
    width: 26px;
    height: 17px;
    background-position: -77px -5px;
}
#s4-workspace .sprite-icon-facebook {
    width: 20px;
    height: 20px;
    background-position: -113px -5px;
}
#s4-workspace .sprite-icon-twitter {
    width: 20px;
    height: 20px;
    background-position: -143px -5px;
}
#s4-workspace .sprite-icon-youtube {
    width: 21px;
    height: 21px;
    background-position: -172px -5px;
}
#s4-workspace .sprite-icon-instagram {
	background-image: url('/Style Library/epe/img/icon-insta.png');
    background-repeat: no-repeat;
    display: block;
    width: 20px;
    height: 20px;
}
#s4-workspace .sprite-icon-likedin {
	background-image: url('/Style Library/epe/img/icon-likedin.png');
    background-repeat: no-repeat;
    display: block;
    width: 20px;
    height: 20px;
}
#footer-brasil {
   background: none repeat scroll 0% 0% #002659;
   padding: 1em 0px;
   max-width: 100%;
}
#s4-workspace .s4-main
{
	overflow:visible !important;
}
#s4-workspace .wth100
{
	width:100%;
}

/* Edit Mode */

#s4-workspace .js-webpart-menuCell a{
	margin-bottom:0 !important;
}
#s4-workspace .ms-core-menu-box .ms-core-menu-link{
	font-family:Arial !important;
	color:inherit !important;
	padding:5px 0 5px 5px !important;
	margin:0 !important;
}
#s4-workspace .ms-core-menu-separatorHr{
	margin:5px 0 !important;
}

